touka-lamouchi-groupeD/payment-service/src/main/resources/payment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://shophub.com/payment"
           targetNamespace="http://shophub.com/payment"
           elementFormDefault="qualified">

    <xs:element name="processPaymentRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="orderId" type="xs:long"/>
                <xs:element name="amount" type="xs:decimal"/>
                <xs:element name="paymentMethod" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="processPaymentResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="transactionId" type="xs:string"/>
                <xs:element name="status" type="xs:string"/>
                <xs:element name="message" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>